<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="BE3PSE"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ScannerActivity" />
        <activity
            android:name=".AdminProfActivity"
            android:label="@string/title_activity_admin_prof"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmployeeProfActivity"
            android:label="@string/title_activity_employee_prof"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>